* {
    background-color:rgb(161, 160, 160);
    margin: 0;
    padding: 0;
}

body {
    background-color:#212529;
}

.About-Me {
    padding: 10%;
    padding-bottom: 10px;
}

h1 {
    color: white;
    background-color:#212529;
    padding: 20px;
    margin-left: 0px;
    text-align: center;
}

.image {
    display: block;
    height: 400px;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
   border-radius: 50%;
}

.experience {
    padding: 10px 10%;
    
}

.card {
    margin: auto;
}

h4 {
    color: white;
    background-color: #212529;
    padding: 10px;
    
}

a {
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    justify-content: center;  
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    display: flex;
    justify-content: center;  
}

.navbar-brand{
    background-color: #212529;
    border-radius: 50%;
}

a img {
    border-radius: 50%;
}